                    <div class="container-fluid">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">{{AnnualIncome}}</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link">This Year's Income</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">{{MonthlyIncome}}</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link">This Month's Income</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">{{WeeklyIncome}}</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link">This Week's Income </a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">{{DailyIncome}}</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link">Today income</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header"><i class="fas fa-chart-area mr-1"></i>Weekly Income Area Chart</div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas>
                                    <script>
                                        var ctx = document.getElementById("myAreaChart");
                                        var myLineChart = new Chart(ctx, {
                                        type: 'line',
                                        data: {
                                            labels: ["Last 5 weeks","Last 4 weeks","Last 3 weeks","Last 2 weeks","Last week","This Week"],
                                            datasets: [{
                                            label: "Sessions",
                                            lineTension: 0.3,
                                            backgroundColor: "rgba(2,117,216,0.2)",
                                            borderColor: "rgba(2,117,216,1)",
                                            pointRadius: 5,
                                            pointBackgroundColor: "rgba(2,117,216,1)",
                                            pointBorderColor: "rgba(255,255,255,0.8)",
                                            pointHoverRadius: 5,
                                            pointHoverBackgroundColor: "rgba(2,117,216,1)",
                                            pointHitRadius: 50,
                                            pointBorderWidth: 2,
                                            data: {{WeekDatas}},
                                            }],
                                        },
                                        });
                                    </script>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Monthly Income Bar Chart</div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40" function = ></canvas>
                                    <script>
                                                var ctx = document.getElementById("myBarChart");
                                                var myLineChart = new Chart(ctx, {
                                                type: 'bar',
                                                data: {
                                                    labels: {{{Monthss}}},
                                                    datasets: [{
                                                    label: "Revenue",
                                                    backgroundColor: "rgba(2,117,216,1)",
                                                    borderColor: "rgba(2,117,216,1)",
                                                    data: {{Datas}},
                                                    }],
                                                },
                                                });
                                                //["January", "February", "March", "April", "May", "June"]
                                    </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-table mr-1"></i>Orders List</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>OrderID</th>
                                                <th>OrderDate</th>
                                                <th>UserID</th>
                                                <th>UserName</th>
                                                <th>Total</th>
                                                <th>Role</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>OrderID</th>
                                                <th>OrderDate</th>
                                                <th>UserID</th>
                                                <th>UserName</th>
                                                <th>Total</th>
                                                <th>Role</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                                {{#each order}}
                                                <tr>
                                                    <td>{{this.OrderID}}</td>
                                                    <td>{{this.OrderDate}}</td>
                                                    <td>{{this.UserID}}</td>
                                                    <td>{{this.UserName}}</td>
                                                    <td>{{this.Total}}</td>
                                                    <td>{{this.Users_Role}}</td>
                                               </tr>
                                                {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>